# Laboratory 3 Details

Author: Terence Yu

Course and Section: AIDI-1002-01

# Load Datasets

## Load Math Dataset

In [1]:
!pip install sweetviz

Collecting sweetviz
  Downloading sweetviz-2.1.3-py3-none-any.whl (15.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 15.1/15.1 MB 5.3 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: numpy>=1.16.0 in /opt/conda/lib/python3.9/site-packages (from sweetviz) (1.21.5)
Requirement already satisfied: pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3 in /opt/conda/lib/python3.9/site-packages (from sweetviz) (1.4.1)
Requirement already satisfied: scipy>=1.3.2 in /opt/conda/lib/python3.9/site-packages (from sweetviz) (1.8.0)
Requirement already satisfied: jinja2>=2.11.1 in /opt/conda/lib/python3.9/site-packages (from sweetviz) (3.0.3)
Requirement already satisfied: tqdm>=4.43.0 in /opt/conda/lib/python3.9/site-packages (from sweetviz) (4.62.3)
Requirement already satisfied: importlib-resources>=1.2.0 in /opt/conda/lib/python3.9/site-packages (from sweetviz) (5.4.0)
Requirement already satisfied: matplotlib>=3.1.3 in /opt/conda/lib/python3.9/site-packages (from sweetviz) (3.5.1)
Requirement already satisfied: zipp>=3.1.0 in /opt/conda/lib/python3.9/site-packages (from importlib-resources>=1.2.0->sweetviz) (3.7.0)
Requirement already satisfied: MarkupSafe>=2.0 in /opt/conda/lib/python3.9/site-packages (from jinja2>=2.11.1->sweetviz) (2.0.1)
Requirement already satisfied: pyparsing>=2.2.1 in /opt/conda/lib/python3.9/site-packages (from matplotlib>=3.1.3->sweetviz) (3.0.7)
Requirement already satisfied: packaging>=20.0 in /opt/conda/lib/python3.9/site-packages (from matplotlib>=3.1.3->sweetviz) (21.3)
Requirement already satisfied: cycler>=0.10 in /opt/conda/lib/python3.9/site-packages (from matplotlib>=3.1.3->sweetviz) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /opt/conda/lib/python3.9/site-packages (from matplotlib>=3.1.3->sweetviz) (1.3.2)
Requirement already satisfied: pillow>=6.2.0 in /opt/conda/lib/python3.9/site-packages (from matplotlib>=3.1.3->sweetviz) (9.0.1)
Requirement already satisfied: python-dateutil>=2.7 in /opt/conda/lib/python3.9/site-packages (from matplotlib>=3.1.3->sweetviz) (2.8.2)
Requirement already satisfied: fonttools>=4.22.0 in /opt/conda/lib/python3.9/site-packages (from matplotlib>=3.1.3->sweetviz) (4.29.1)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.9/site-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3->sweetviz) (2021.3)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.9/site-packages (from python-dateutil>=2.7->matplotlib>=3.1.3->sweetviz) (1.16.0)
Installing collected packages: sweetviz
Successfully installed sweetviz-2.1.3

In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import OneHotEncoder
from sklearn import metrics
import sweetviz as sv

In [3]:
math_ds = pd.read_csv('student-mat.csv', sep=";", quotechar="'")

In [4]:
math_ds.shape

(395, 33)

In [5]:
math_ds.head()

,school,gender,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,"""GP","""""F""""",18,"""""U""""","""""GT3""""","""""A""""",4,4,"""""at_home""""","""""teacher""""",...,4,3,4,1,1,3,6,"""""5""""","""""6""""","6"""
1,"""GP","""""F""""",17,"""""U""""","""""GT3""""","""""T""""",1,1,"""""at_home""""","""""other""""",...,5,3,3,1,1,3,4,"""""5""""","""""5""""","6"""
2,"""GP","""""F""""",15,"""""U""""","""""LE3""""","""""T""""",1,1,"""""at_home""""","""""other""""",...,4,3,2,2,3,3,10,"""""7""""","""""8""""","10"""
3,"""GP","""""F""""",15,"""""U""""","""""GT3""""","""""T""""",4,2,"""""health""""","""""services""""",...,3,2,2,1,1,5,2,"""""15""""","""""14""""","15"""
4,"""GP","""""F""""",16,"""""U""""","""""GT3""""","""""T""""",3,3,"""""other""""","""""other""""",...,4,3,2,1,2,5,4,"""""6""""","""""10""""","10"""

In [6]:
math_ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      395 non-null    object
 1   gender      395 non-null    object
 2   age         395 non-null    int64
 3   address     395 non-null    object
 4   famsize     395 non-null    object
 5   Pstatus     395 non-null    object
 6   Medu        395 non-null    int64
 7   Fedu        395 non-null    int64
 8   Mjob        395 non-null    object
 9   Fjob        395 non-null    object
 10  reason      395 non-null    object
 11  guardian    395 non-null    object
 12  traveltime  395 non-null    int64
 13  studytime   395 non-null    int64
 14  failures    395 non-null    int64
 15  schoolsup   395 non-null    object
 16  famsup      395 non-null    object
 17  paid        395 non-null    object
 18  activities  395 non-null    object
 19  nursery     395 non-null    object
 20  higher      395 non-null    object
 21  internet    395 non-null    object
 22  romantic    395 non-null    object
 23  famrel      395 non-null    int64
 24  freetime    395 non-null    int64
 25  goout       395 non-null    int64
 26  Dalc        395 non-null    int64
 27  Walc        395 non-null    int64
 28  health      395 non-null    int64
 29  absences    395 non-null    int64
 30  G1          395 non-null    object
 31  G2          395 non-null    object
 32  G3          395 non-null    object
dtypes: int64(13), object(20)
memory usage: 102.0+ KB

## Load Portuguese Datase

In [7]:
portuguese_ds = pd.read_csv('student-por.csv', sep=";", quotechar="'")

In [8]:
portuguese_ds.shape

(649, 33)

In [9]:
portuguese_ds.head()

,school,gender,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,"""GP","""""F""""",18,"""""U""""","""""GT3""""","""""A""""",4,4,"""""at_home""""","""""teacher""""",...,4,3,4,1,1,3,4,"""""0""""","""""11""""","11"""
1,"""GP","""""F""""",17,"""""U""""","""""GT3""""","""""T""""",1,1,"""""at_home""""","""""other""""",...,5,3,3,1,1,3,2,"""""9""""","""""11""""","11"""
2,"""GP","""""F""""",15,"""""U""""","""""LE3""""","""""T""""",1,1,"""""at_home""""","""""other""""",...,4,3,2,2,3,3,6,"""""12""""","""""13""""","12"""
3,"""GP","""""F""""",15,"""""U""""","""""GT3""""","""""T""""",4,2,"""""health""""","""""services""""",...,3,2,2,1,1,5,0,"""""14""""","""""14""""","14"""
4,"""GP","""""F""""",16,"""""U""""","""""GT3""""","""""T""""",3,3,"""""other""""","""""other""""",...,4,3,2,1,2,5,0,"""""11""""","""""13""""","13"""

In [10]:
portuguese_ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 649 entries, 0 to 648
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      649 non-null    object
 1   gender      649 non-null    object
 2   age         649 non-null    int64
 3   address     649 non-null    object
 4   famsize     649 non-null    object
 5   Pstatus     649 non-null    object
 6   Medu        649 non-null    int64
 7   Fedu        649 non-null    int64
 8   Mjob        649 non-null    object
 9   Fjob        649 non-null    object
 10  reason      649 non-null    object
 11  guardian    649 non-null    object
 12  traveltime  649 non-null    int64
 13  studytime   649 non-null    int64
 14  failures    649 non-null    int64
 15  schoolsup   649 non-null    object
 16  famsup      649 non-null    object
 17  paid        649 non-null    object
 18  activities  649 non-null    object
 19  nursery     649 non-null    object
 20  higher      649 non-null    object
 21  internet    649 non-null    object
 22  romantic    649 non-null    object
 23  famrel      649 non-null    int64
 24  freetime    649 non-null    int64
 25  goout       649 non-null    int64
 26  Dalc        649 non-null    int64
 27  Walc        649 non-null    int64
 28  health      649 non-null    int64
 29  absences    649 non-null    int64
 30  G1          649 non-null    object
 31  G2          649 non-null    object
 32  G3          649 non-null    object
dtypes: int64(13), object(20)
memory usage: 167.4+ KB

# Data Preparation

## Cleaning and Yes or No Fields

In [11]:
math_ds.replace(to_replace='\"+', value='', inplace=True, regex=True)
math_ds.replace(to_replace='yes', value='1', inplace=True, regex=False)
math_ds.replace(to_replace='no', value='0', inplace=True, regex=False)

In [12]:
portuguese_ds.replace(to_replace='\"+', value='', inplace=True, regex=True)
portuguese_ds.replace(to_replace='yes', value='1', inplace=True, regex=False)
portuguese_ds.replace(to_replace='no', value='0', inplace=True, regex=False)

## Handle Category Data

In [13]:
math_ds.head()

,school,gender,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [14]:
math_ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      395 non-null    object
 1   gender      395 non-null    object
 2   age         395 non-null    int64
 3   address     395 non-null    object
 4   famsize     395 non-null    object
 5   Pstatus     395 non-null    object
 6   Medu        395 non-null    int64
 7   Fedu        395 non-null    int64
 8   Mjob        395 non-null    object
 9   Fjob        395 non-null    object
 10  reason      395 non-null    object
 11  guardian    395 non-null    object
 12  traveltime  395 non-null    int64
 13  studytime   395 non-null    int64
 14  failures    395 non-null    int64
 15  schoolsup   395 non-null    object
 16  famsup      395 non-null    object
 17  paid        395 non-null    object
 18  activities  395 non-null    object
 19  nursery     395 non-null    object
 20  higher      395 non-null    object
 21  internet    395 non-null    object
 22  romantic    395 non-null    object
 23  famrel      395 non-null    int64
 24  freetime    395 non-null    int64
 25  goout       395 non-null    int64
 26  Dalc        395 non-null    int64
 27  Walc        395 non-null    int64
 28  health      395 non-null    int64
 29  absences    395 non-null    int64
 30  G1          395 non-null    object
 31  G2          395 non-null    object
 32  G3          395 non-null    object
dtypes: int64(13), object(20)
memory usage: 102.0+ KB

In [15]:
math_ds['school'] = math_ds['school'].astype('category')
portuguese_ds['school'] = portuguese_ds['school'].astype('category')
math_ds['gender'] = math_ds['gender'].astype('category')
portuguese_ds['gender'] = portuguese_ds['gender'].astype('category')
math_ds['address'] = math_ds['address'].astype('category')
portuguese_ds['address'] = portuguese_ds['address'].astype('category')
math_ds['famsize'] = math_ds['famsize'].astype('category')
portuguese_ds['famsize'] = portuguese_ds['famsize'].astype('category')
math_ds['Pstatus'] = math_ds['Pstatus'].astype('category')
portuguese_ds['Pstatus'] = portuguese_ds['Pstatus'].astype('category')
math_ds['Mjob'] = math_ds['Mjob'].astype('category')
portuguese_ds['Mjob'] = portuguese_ds['Mjob'].astype('category')
math_ds['Fjob'] = math_ds['Fjob'].astype('category')
portuguese_ds['Fjob'] = portuguese_ds['Fjob'].astype('category')
math_ds['reason'] = math_ds['reason'].astype('category')
portuguese_ds['reason'] = portuguese_ds['reason'].astype('category')
math_ds['guardian'] = math_ds['guardian'].astype('category')
portuguese_ds['guardian'] = portuguese_ds['guardian'].astype('category')
math_ds['guardian'] = math_ds['guardian'].astype('category')
portuguese_ds['guardian'] = portuguese_ds['guardian'].astype('category')

In [16]:
math_ds['schoolsup'] = math_ds['schoolsup'].astype('int64')
portuguese_ds['schoolsup'] = portuguese_ds['schoolsup'].astype('int64')
math_ds['famsup'] = math_ds['famsup'].astype('int64')
portuguese_ds['famsup'] = portuguese_ds['famsup'].astype('int64')
math_ds['paid'] = math_ds['paid'].astype('int64')
portuguese_ds['paid'] = portuguese_ds['paid'].astype('int64')
math_ds['activities'] = math_ds['activities'].astype('int64')
portuguese_ds['activities'] = portuguese_ds['activities'].astype('int64')
math_ds['nursery'] = math_ds['nursery'].astype('int64')
portuguese_ds['nursery'] = portuguese_ds['nursery'].astype('int64')
math_ds['higher'] = math_ds['higher'].astype('int64')
portuguese_ds['higher'] = portuguese_ds['higher'].astype('int64')
math_ds['internet'] = math_ds['internet'].astype('int64')
portuguese_ds['internet'] = portuguese_ds['internet'].astype('int64')
math_ds['romantic'] = math_ds['romantic'].astype('int64')
portuguese_ds['romantic'] = portuguese_ds['romantic'].astype('int64')
math_ds['G1'] = math_ds['G1'].astype('int64')
portuguese_ds['G1'] = portuguese_ds['G1'].astype('int64')
math_ds['G2'] = math_ds['G2'].astype('int64')
portuguese_ds['G2'] = portuguese_ds['G2'].astype('int64')
math_ds['G3'] = math_ds['G3'].astype('int64')
portuguese_ds['G3'] = portuguese_ds['G3'].astype('int64')

In [17]:
math_ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      395 non-null    category
 1   gender      395 non-null    category
 2   age         395 non-null    int64
 3   address     395 non-null    category
 4   famsize     395 non-null    category
 5   Pstatus     395 non-null    category
 6   Medu        395 non-null    int64
 7   Fedu        395 non-null    int64
 8   Mjob        395 non-null    category
 9   Fjob        395 non-null    category
 10  reason      395 non-null    category
 11  guardian    395 non-null    category
 12  traveltime  395 non-null    int64
 13  studytime   395 non-null    int64
 14  failures    395 non-null    int64
 15  schoolsup   395 non-null    int64
 16  famsup      395 non-null    int64
 17  paid        395 non-null    int64
 18  activities  395 non-null    int64
 19  nursery     395 non-null    int64
 20  higher      395 non-null    int64
 21  internet    395 non-null    int64
 22  romantic    395 non-null    int64
 23  famrel      395 non-null    int64
 24  freetime    395 non-null    int64
 25  goout       395 non-null    int64
 26  Dalc        395 non-null    int64
 27  Walc        395 non-null    int64
 28  health      395 non-null    int64
 29  absences    395 non-null    int64
 30  G1          395 non-null    int64
 31  G2          395 non-null    int64
 32  G3          395 non-null    int64
dtypes: category(9), int64(24)
memory usage: 79.0 KB

In [18]:
portuguese_ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 649 entries, 0 to 648
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      649 non-null    category
 1   gender      649 non-null    category
 2   age         649 non-null    int64
 3   address     649 non-null    category
 4   famsize     649 non-null    category
 5   Pstatus     649 non-null    category
 6   Medu        649 non-null    int64
 7   Fedu        649 non-null    int64
 8   Mjob        649 non-null    category
 9   Fjob        649 non-null    category
 10  reason      649 non-null    category
 11  guardian    649 non-null    category
 12  traveltime  649 non-null    int64
 13  studytime   649 non-null    int64
 14  failures    649 non-null    int64
 15  schoolsup   649 non-null    int64
 16  famsup      649 non-null    int64
 17  paid        649 non-null    int64
 18  activities  649 non-null    int64
 19  nursery     649 non-null    int64
 20  higher      649 non-null    int64
 21  internet    649 non-null    int64
 22  romantic    649 non-null    int64
 23  famrel      649 non-null    int64
 24  freetime    649 non-null    int64
 25  goout       649 non-null    int64
 26  Dalc        649 non-null    int64
 27  Walc        649 non-null    int64
 28  health      649 non-null    int64
 29  absences    649 non-null    int64
 30  G1          649 non-null    int64
 31  G2          649 non-null    int64
 32  G3          649 non-null    int64
dtypes: category(9), int64(24)
memory usage: 128.9 KB

## Generate Reports

In [19]:
math_report = sv.analyze(math_ds)
math_report.show_html("math_report.html")

                                             |          | [  0%]   00:00 -> (? left)

/opt/conda/lib/python3.9/site-packages/sweetviz/utils.py:34: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  clamped_series = clamped_series.append(other_series, ignore_index=False)
/opt/conda/lib/python3.9/site-packages/sweetviz/graph_associations.py:223: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_dataframe = new_dataframe.append(pd.Series(empty_row_dict, name=feature))
/opt/conda/lib/python3.9/site-packages/sweetviz/graph_associations.py:223: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_dataframe = new_dataframe.append(pd.Series(empty_row_dict, name=feature))
/opt/conda/lib/python3.9/site-packages/sweetviz/graph_associations.py:223: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_dataframe = new_dataframe.append(pd.Series(empty_row_dict, name=feature))
/opt/conda/lib/python3.9/site-packages/sweetviz/graph_associations.py:223: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_dataframe = new_dataframe.append(pd.Series(empty_row_dict, name=feature))
/opt/conda/lib/python3.9/site-packages/sweetviz/graph_associations.py:223: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_dataframe = new_dataframe.append(pd.Series(empty_row_dict, name=feature))
/opt/conda/lib/python3.9/site-packages/sweetviz/graph_associations.py:223: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_dataframe = new_dataframe.append(pd.Series(empty_row_dict, name=feature))
/opt/conda/lib/python3.9/site-packages/sweetviz/graph_associations.py:223: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_dataframe = new_dataframe.append(pd.Series(empty_row_dict, name=feature))
/opt/conda/lib/python3.9/site-packages/sweetviz/graph_associations.py:223: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_dataframe = new_dataframe.append(pd.Series(empty_row_dict, name=feature))
/opt/conda/lib/python3.9/site-packages/sweetviz/graph_associations.py:223: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_dataframe = new_dataframe.append(pd.Series(empty_row_dict, name=feature))
/opt/conda/lib/python3.9/site-packages/sweetviz/graph_associations.py:223: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_dataframe = new_dataframe.append(pd.Series(empty_row_dict, name=feature))
/opt/conda/lib/python3.9/site-packages/sweetviz/graph_associations.py:223: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_dataframe = new_dataframe.append(pd.Series(empty_row_dict, name=feature))
/opt/conda/lib/python3.9/site-packages/sweetviz/graph_associations.py:223: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_dataframe = new_dataframe.append(pd.Series(empty_row_dict, name=feature))
/opt/conda/lib/python3.9/site-packages/sweetviz/graph_associations.py:223: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_dataframe = new_dataframe.append(pd.Series(empty_row_dict, name=feature))
/opt/conda/lib/python3.9/site-packages/sweetviz/graph_associations.py:223: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_dataframe = new_dataframe.append(pd.Series(empty_row_dict, name=feature))
/opt/conda/lib/python3.9/site-packages/sweetviz/graph_associations.py:223: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_dataframe = new_dataframe.append(pd.Series(empty_row_dict, name=feature))
/opt/conda/lib/python3.9/site-packages/sweetviz/graph_associations.py:223: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_dataframe = new_dataframe.append(pd.Series(empty_row_dict, name=feature))
/opt/conda/lib/python3.9/site-packages/sweetviz/graph_associations.py:223: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_dataframe = new_dataframe.append(pd.Series(empty_row_dict, name=feature))
/opt/conda/lib/python3.9/site-packages/sweetviz/graph_associations.py:223: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_dataframe = new_dataframe.append(pd.Series(empty_row_dict, name=feature))
/opt/conda/lib/python3.9/site-packages/sweetviz/graph_associations.py:223: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_dataframe = new_dataframe.append(pd.Series(empty_row_dict, name=feature))
/opt/conda/lib/python3.9/site-packages/sweetviz/graph_associations.py:223: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_dataframe = new_dataframe.append(pd.Series(empty_row_dict, name=feature))
/opt/conda/lib/python3.9/site-packages/sweetviz/graph_associations.py:223: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_dataframe = new_dataframe.append(pd.Series(empty_row_dict, name=feature))
/opt/conda/lib/python3.9/site-packages/sweetviz/graph_associations.py:223: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_dataframe = new_dataframe.append(pd.Series(empty_row_dict, name=feature))
/opt/conda/lib/python3.9/site-packages/sweetviz/graph_associations.py:223: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_dataframe = new_dataframe.append(pd.Series(empty_row_dict, name=feature))
/opt/conda/lib/python3.9/site-packages/sweetviz/graph_associations.py:223: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_dataframe = new_dataframe.append(pd.Series(empty_row_dict, name=feature))
/opt/conda/lib/python3.9/site-packages/sweetviz/graph_associations.py:223: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_dataframe = new_dataframe.append(pd.Series(empty_row_dict, name=feature))
/opt/conda/lib/python3.9/site-packages/sweetviz/graph_associations.py:223: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_dataframe = new_dataframe.append(pd.Series(empty_row_dict, name=feature))
/opt/conda/lib/python3.9/site-packages/sweetviz/graph_associations.py:223: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_dataframe = new_dataframe.append(pd.Series(empty_row_dict, name=feature))
/opt/conda/lib/python3.9/site-packages/sweetviz/graph_associations.py:223: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_dataframe = new_dataframe.append(pd.Series(empty_row_dict, name=feature))
/opt/conda/lib/python3.9/site-packages/sweetviz/graph_associations.py:223: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_dataframe = new_dataframe.append(pd.Series(empty_row_dict, name=feature))
/opt/conda/lib/python3.9/site-packages/sweetviz/graph_associations.py:223: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_dataframe = new_dataframe.append(pd.Series(empty_row_dict, name=feature))
/opt/conda/lib/python3.9/site-packages/sweetviz/graph_associations.py:223: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_dataframe = new_dataframe.append(pd.Series(empty_row_dict, name=feature))
/opt/conda/lib/python3.9/site-packages/sweetviz/graph_associations.py:223: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_dataframe = new_dataframe.append(pd.Series(empty_row_dict, name=feature))
/opt/conda/lib/python3.9/site-packages/sweetviz/graph_associations.py:223: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_dataframe = new_dataframe.append(pd.Series(empty_row_dict, name=feature))

Report math_report.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

In [20]:
portuguese_report = sv.analyze(math_ds)
portuguese_report.show_html("portuguese_report.html")

                                             |          | [  0%]   00:00 -> (? left)

/opt/conda/lib/python3.9/site-packages/sweetviz/utils.py:34: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  clamped_series = clamped_series.append(other_series, ignore_index=False)
/opt/conda/lib/python3.9/site-packages/sweetviz/graph_associations.py:223: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_dataframe = new_dataframe.append(pd.Series(empty_row_dict, name=feature))
/opt/conda/lib/python3.9/site-packages/sweetviz/graph_associations.py:223: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_dataframe = new_dataframe.append(pd.Series(empty_row_dict, name=feature))
/opt/conda/lib/python3.9/site-packages/sweetviz/graph_associations.py:223: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_dataframe = new_dataframe.append(pd.Series(empty_row_dict, name=feature))
/opt/conda/lib/python3.9/site-packages/sweetviz/graph_associations.py:223: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_dataframe = new_dataframe.append(pd.Series(empty_row_dict, name=feature))
/opt/conda/lib/python3.9/site-packages/sweetviz/graph_associations.py:223: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_dataframe = new_dataframe.append(pd.Series(empty_row_dict, name=feature))
/opt/conda/lib/python3.9/site-packages/sweetviz/graph_associations.py:223: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_dataframe = new_dataframe.append(pd.Series(empty_row_dict, name=feature))
/opt/conda/lib/python3.9/site-packages/sweetviz/graph_associations.py:223: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_dataframe = new_dataframe.append(pd.Series(empty_row_dict, name=feature))
/opt/conda/lib/python3.9/site-packages/sweetviz/graph_associations.py:223: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_dataframe = new_dataframe.append(pd.Series(empty_row_dict, name=feature))
/opt/conda/lib/python3.9/site-packages/sweetviz/graph_associations.py:223: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_dataframe = new_dataframe.append(pd.Series(empty_row_dict, name=feature))
/opt/conda/lib/python3.9/site-packages/sweetviz/graph_associations.py:223: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_dataframe = new_dataframe.append(pd.Series(empty_row_dict, name=feature))
/opt/conda/lib/python3.9/site-packages/sweetviz/graph_associations.py:223: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_dataframe = new_dataframe.append(pd.Series(empty_row_dict, name=feature))
/opt/conda/lib/python3.9/site-packages/sweetviz/graph_associations.py:223: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_dataframe = new_dataframe.append(pd.Series(empty_row_dict, name=feature))
/opt/conda/lib/python3.9/site-packages/sweetviz/graph_associations.py:223: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_dataframe = new_dataframe.append(pd.Series(empty_row_dict, name=feature))
/opt/conda/lib/python3.9/site-packages/sweetviz/graph_associations.py:223: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_dataframe = new_dataframe.append(pd.Series(empty_row_dict, name=feature))
/opt/conda/lib/python3.9/site-packages/sweetviz/graph_associations.py:223: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_dataframe = new_dataframe.append(pd.Series(empty_row_dict, name=feature))
/opt/conda/lib/python3.9/site-packages/sweetviz/graph_associations.py:223: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_dataframe = new_dataframe.append(pd.Series(empty_row_dict, name=feature))
/opt/conda/lib/python3.9/site-packages/sweetviz/graph_associations.py:223: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_dataframe = new_dataframe.append(pd.Series(empty_row_dict, name=feature))
/opt/conda/lib/python3.9/site-packages/sweetviz/graph_associations.py:223: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_dataframe = new_dataframe.append(pd.Series(empty_row_dict, name=feature))
/opt/conda/lib/python3.9/site-packages/sweetviz/graph_associations.py:223: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_dataframe = new_dataframe.append(pd.Series(empty_row_dict, name=feature))
/opt/conda/lib/python3.9/site-packages/sweetviz/graph_associations.py:223: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_dataframe = new_dataframe.append(pd.Series(empty_row_dict, name=feature))
/opt/conda/lib/python3.9/site-packages/sweetviz/graph_associations.py:223: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_dataframe = new_dataframe.append(pd.Series(empty_row_dict, name=feature))
/opt/conda/lib/python3.9/site-packages/sweetviz/graph_associations.py:223: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_dataframe = new_dataframe.append(pd.Series(empty_row_dict, name=feature))
/opt/conda/lib/python3.9/site-packages/sweetviz/graph_associations.py:223: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_dataframe = new_dataframe.append(pd.Series(empty_row_dict, name=feature))
/opt/conda/lib/python3.9/site-packages/sweetviz/graph_associations.py:223: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_dataframe = new_dataframe.append(pd.Series(empty_row_dict, name=feature))
/opt/conda/lib/python3.9/site-packages/sweetviz/graph_associations.py:223: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_dataframe = new_dataframe.append(pd.Series(empty_row_dict, name=feature))
/opt/conda/lib/python3.9/site-packages/sweetviz/graph_associations.py:223: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_dataframe = new_dataframe.append(pd.Series(empty_row_dict, name=feature))
/opt/conda/lib/python3.9/site-packages/sweetviz/graph_associations.py:223: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_dataframe = new_dataframe.append(pd.Series(empty_row_dict, name=feature))
/opt/conda/lib/python3.9/site-packages/sweetviz/graph_associations.py:223: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_dataframe = new_dataframe.append(pd.Series(empty_row_dict, name=feature))
/opt/conda/lib/python3.9/site-packages/sweetviz/graph_associations.py:223: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_dataframe = new_dataframe.append(pd.Series(empty_row_dict, name=feature))
/opt/conda/lib/python3.9/site-packages/sweetviz/graph_associations.py:223: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_dataframe = new_dataframe.append(pd.Series(empty_row_dict, name=feature))
/opt/conda/lib/python3.9/site-packages/sweetviz/graph_associations.py:223: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_dataframe = new_dataframe.append(pd.Series(empty_row_dict, name=feature))
/opt/conda/lib/python3.9/site-packages/sweetviz/graph_associations.py:223: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_dataframe = new_dataframe.append(pd.Series(empty_row_dict, name=feature))
/opt/conda/lib/python3.9/site-packages/sweetviz/graph_associations.py:223: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_dataframe = new_dataframe.append(pd.Series(empty_row_dict, name=feature))

Report portuguese_report.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

## One Hot Encoding of Math Fields

In [21]:
math_ds['school'].cat.categories

Index(['GP', 'MS'], dtype='object')

In [22]:
schoolValues = ['GP', 'MS']
schoolEncoder = OneHotEncoder(categories=[schoolValues], dtype='short')
schoolDF = pd.DataFrame(schoolEncoder.fit_transform(math_ds[['school']]).toarray())
schoolDF.columns = ['school_'+x for x in schoolValues]
schoolDF.head()

   school_GP  school_MS
0          1          0
1          1          0
2          1          0
3          1          0
4          1          0

In [23]:
math_ds['gender'].cat.categories

Index(['F', 'M'], dtype='object')

In [24]:
genderValues = ['F', 'M']
genderEncoder = OneHotEncoder(categories=[genderValues], dtype='short')
genderDF = pd.DataFrame(genderEncoder.fit_transform(math_ds[['gender']]).toarray())
genderDF.columns = ['gender_'+x for x in genderValues]
genderDF.head()

   gender_F  gender_M
0         1         0
1         1         0
2         1         0
3         1         0
4         1         0

In [25]:
math_ds['address'].cat.categories

Index(['R', 'U'], dtype='object')

In [26]:
addressValues = ['R', 'U']
addressEncoder = OneHotEncoder(categories=[addressValues], dtype='short')
addressDF = pd.DataFrame(addressEncoder.fit_transform(math_ds[['address']]).toarray())
addressDF.columns = ['address_'+x for x in addressValues]
addressDF.head()

   address_R  address_U
0          0          1
1          0          1
2          0          1
3          0          1
4          0          1

In [27]:
math_ds['famsize'].cat.categories

Index(['GT3', 'LE3'], dtype='object')

In [28]:
famsizeValues = ['GT3', 'LE3']
famsizeEncoder = OneHotEncoder(categories=[famsizeValues], dtype='short')
famsizeDF = pd.DataFrame(famsizeEncoder.fit_transform(math_ds[['famsize']]).toarray())
famsizeDF.columns = ['famsize_'+x for x in famsizeValues]
famsizeDF.head()

   famsize_GT3  famsize_LE3
0            1            0
1            1            0
2            0            1
3            1            0
4            1            0

In [29]:
math_ds['Pstatus'].cat.categories

Index(['A', 'T'], dtype='object')

In [30]:
pstatusValues = ['A', 'T']
pstatusEncoder = OneHotEncoder(categories=[pstatusValues], dtype='short')
pstatusDF = pd.DataFrame(pstatusEncoder.fit_transform(math_ds[['Pstatus']]).toarray())
pstatusDF.columns = ['pstatus_'+x for x in pstatusValues]
pstatusDF.head()

   pstatus_A  pstatus_T
0          1          0
1          0          1
2          0          1
3          0          1
4          0          1

In [31]:
math_ds['Mjob'].cat.categories

Index(['at_home', 'health', 'other', 'services', 'teacher'], dtype='object')

In [32]:
mjobValues = ['at_home', 'health', 'other', 'services', 'teacher']
mjobEncoder = OneHotEncoder(categories=[mjobValues], dtype='short')
mjobDF = pd.DataFrame(mjobEncoder.fit_transform(math_ds[['Mjob']]).toarray())
mjobDF.columns = ['mjob_'+x for x in mjobValues]
mjobDF.head()

   mjob_at_home  mjob_health  mjob_other  mjob_services  mjob_teacher
0             1            0           0              0             0
1             1            0           0              0             0
2             1            0           0              0             0
3             0            1           0              0             0
4             0            0           1              0             0

In [33]:
math_ds['Fjob'].cat.categories

Index(['at_home', 'health', 'other', 'services', 'teacher'], dtype='object')

In [34]:
fjobValues = ['at_home', 'health', 'other', 'services', 'teacher']
fjobEncoder = OneHotEncoder(categories=[fjobValues], dtype='short')
fjobDF = pd.DataFrame(fjobEncoder.fit_transform(math_ds[['Fjob']]).toarray())
fjobDF.columns = ['fjob_'+x for x in fjobValues]
fjobDF.head()

   fjob_at_home  fjob_health  fjob_other  fjob_services  fjob_teacher
0             0            0           0              0             1
1             0            0           1              0             0
2             0            0           1              0             0
3             0            0           0              1             0
4             0            0           1              0             0

In [35]:
math_ds['reason'].cat.categories

Index(['course', 'home', 'other', 'reputation'], dtype='object')

In [36]:
reasonValues = ['course', 'home', 'other', 'reputation']
reasonEncoder = OneHotEncoder(categories=[reasonValues], dtype='short')
reasonDF = pd.DataFrame(reasonEncoder.fit_transform(math_ds[['reason']]).toarray())
reasonDF.columns = ['reason_'+x for x in reasonValues]
reasonDF.head()

   reason_course  reason_home  reason_other  reason_reputation
0              1            0             0                  0
1              1            0             0                  0
2              0            0             1                  0
3              0            1             0                  0
4              0            1             0                  0

In [37]:
math_ds['guardian'].cat.categories

Index(['father', 'mother', 'other'], dtype='object')

In [38]:
guardianValues = ['father', 'mother', 'other']
guardianEncoder = OneHotEncoder(categories=[guardianValues], dtype='short')
guardianDF = pd.DataFrame(guardianEncoder.fit_transform(math_ds[['guardian']]).toarray())
guardianDF.columns = ['guardian_'+x for x in guardianValues]
guardianDF.head()

   guardian_father  guardian_mother  guardian_other
0                0                1               0
1                1                0               0
2                0                1               0
3                0                1               0
4                1                0               0

In [39]:
math_ds = math_ds.join(schoolDF).join(genderDF).join(addressDF).join(famsizeDF)\
  .join(pstatusDF).join(mjobDF).join(fjobDF).join(reasonDF).join(guardianDF)
# Remove no longer needed columns and reorder such that label is at the end
columnsInOrder = ['school_GP', 'school_MS', 'gender_F', 'gender_M', 'age', 
                  'address_R', 'address_U', 'famsize_GT3', 'famsize_LE3', 
                  'pstatus_A', 'pstatus_T', 'Medu', 'Fedu', 'mjob_at_home',
                  'mjob_health', 'mjob_other', 'mjob_services', 'mjob_teacher',
                  'fjob_at_home', 'fjob_health', 'fjob_other', 'fjob_services',
                  'fjob_teacher', 'reason_course', 'reason_home', 
                  'reason_other', 'reason_reputation', 'guardian_father', 
                  'guardian_mother', 'guardian_other', 'traveltime',
                  'studytime', 'failures', 'schoolsup', 'famsup', 'paid',
                  'activities', 'nursery', 'higher', 'internet', 'romantic', 
                  'famrel', 'freetime', 'goout', 'Dalc', 'Walc', 'health', 
                  'absences', 'G1', 'G2', 'G3']
math_ds = math_ds[columnsInOrder]
math_ds.head()

,school_GP,school_MS,gender_F,gender_M,age,address_R,address_U,famsize_GT3,famsize_LE3,pstatus_A,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,1,0,1,0,18,0,1,1,0,1,...,4,3,4,1,1,3,6,5,6,6
1,1,0,1,0,17,0,1,1,0,0,...,5,3,3,1,1,3,4,5,5,6
2,1,0,1,0,15,0,1,0,1,0,...,4,3,2,2,3,3,10,7,8,10
3,1,0,1,0,15,0,1,1,0,0,...,3,2,2,1,1,5,2,15,14,15
4,1,0,1,0,16,0,1,1,0,0,...,4,3,2,1,2,5,4,6,10,10

## One Hot Encoding of Portuguese Fields

In [40]:
portuguese_ds['school'].cat.categories

Index(['GP', 'MS'], dtype='object')

In [41]:
schoolValues = ['GP', 'MS']
schoolEncoder = OneHotEncoder(categories=[schoolValues], dtype='short')
schoolDF = pd.DataFrame(schoolEncoder.fit_transform(portuguese_ds[['school']]).toarray())
schoolDF.columns = ['school_'+x for x in schoolValues]
schoolDF.head()

   school_GP  school_MS
0          1          0
1          1          0
2          1          0
3          1          0
4          1          0

In [42]:
portuguese_ds['gender'].cat.categories

Index(['F', 'M'], dtype='object')

In [43]:
genderValues = ['F', 'M']
genderEncoder = OneHotEncoder(categories=[genderValues], dtype='short')
genderDF = pd.DataFrame(genderEncoder.fit_transform(portuguese_ds[['gender']]).toarray())
genderDF.columns = ['gender_'+x for x in genderValues]
genderDF.head()

   gender_F  gender_M
0         1         0
1         1         0
2         1         0
3         1         0
4         1         0

In [44]:
portuguese_ds['address'].cat.categories

Index(['R', 'U'], dtype='object')

In [45]:
addressValues = ['R', 'U']
addressEncoder = OneHotEncoder(categories=[addressValues], dtype='short')
addressDF = pd.DataFrame(addressEncoder.fit_transform(portuguese_ds[['address']]).toarray())
addressDF.columns = ['address_'+x for x in addressValues]
addressDF.head()

   address_R  address_U
0          0          1
1          0          1
2          0          1
3          0          1
4          0          1

In [46]:
portuguese_ds['famsize'].cat.categories

Index(['GT3', 'LE3'], dtype='object')

In [47]:
famsizeValues = ['GT3', 'LE3']
famsizeEncoder = OneHotEncoder(categories=[famsizeValues], dtype='short')
famsizeDF = pd.DataFrame(famsizeEncoder.fit_transform(portuguese_ds[['famsize']]).toarray())
famsizeDF.columns = ['famsize_'+x for x in famsizeValues]
famsizeDF.head()

   famsize_GT3  famsize_LE3
0            1            0
1            1            0
2            0            1
3            1            0
4            1            0

In [48]:
portuguese_ds['Pstatus'].cat.categories

Index(['A', 'T'], dtype='object')

In [49]:
pstatusValues = ['A', 'T']
pstatusEncoder = OneHotEncoder(categories=[pstatusValues], dtype='short')
pstatusDF = pd.DataFrame(pstatusEncoder.fit_transform(portuguese_ds[['Pstatus']]).toarray())
pstatusDF.columns = ['pstatus_'+x for x in pstatusValues]
pstatusDF.head()

   pstatus_A  pstatus_T
0          1          0
1          0          1
2          0          1
3          0          1
4          0          1

In [50]:
portuguese_ds['Mjob'].cat.categories

Index(['at_home', 'health', 'other', 'services', 'teacher'], dtype='object')

In [51]:
mjobValues = ['at_home', 'health', 'other', 'services', 'teacher']
mjobEncoder = OneHotEncoder(categories=[mjobValues], dtype='short')
mjobDF = pd.DataFrame(mjobEncoder.fit_transform(portuguese_ds[['Mjob']]).toarray())
mjobDF.columns = ['mjob_'+x for x in mjobValues]
mjobDF.head()

   mjob_at_home  mjob_health  mjob_other  mjob_services  mjob_teacher
0             1            0           0              0             0
1             1            0           0              0             0
2             1            0           0              0             0
3             0            1           0              0             0
4             0            0           1              0             0

In [52]:
portuguese_ds['Fjob'].cat.categories

Index(['at_home', 'health', 'other', 'services', 'teacher'], dtype='object')

In [53]:
fjobValues = ['at_home', 'health', 'other', 'services', 'teacher']
fjobEncoder = OneHotEncoder(categories=[fjobValues], dtype='short')
fjobDF = pd.DataFrame(fjobEncoder.fit_transform(portuguese_ds[['Fjob']]).toarray())
fjobDF.columns = ['fjob_'+x for x in fjobValues]
fjobDF.head()

   fjob_at_home  fjob_health  fjob_other  fjob_services  fjob_teacher
0             0            0           0              0             1
1             0            0           1              0             0
2             0            0           1              0             0
3             0            0           0              1             0
4             0            0           1              0             0

In [54]:
portuguese_ds['reason'].cat.categories

Index(['course', 'home', 'other', 'reputation'], dtype='object')

In [55]:
reasonValues = ['course', 'home', 'other', 'reputation']
reasonEncoder = OneHotEncoder(categories=[reasonValues], dtype='short')
reasonDF = pd.DataFrame(reasonEncoder.fit_transform(portuguese_ds[['reason']]).toarray())
reasonDF.columns = ['reason_'+x for x in reasonValues]
reasonDF.head()

   reason_course  reason_home  reason_other  reason_reputation
0              1            0             0                  0
1              1            0             0                  0
2              0            0             1                  0
3              0            1             0                  0
4              0            1             0                  0

In [56]:
portuguese_ds['guardian'].cat.categories

Index(['father', 'mother', 'other'], dtype='object')

In [57]:
guardianValues = ['father', 'mother', 'other']
guardianEncoder = OneHotEncoder(categories=[guardianValues], dtype='short')
guardianDF = pd.DataFrame(guardianEncoder.fit_transform(portuguese_ds[['guardian']]).toarray())
guardianDF.columns = ['guardian_'+x for x in guardianValues]
guardianDF.head()

   guardian_father  guardian_mother  guardian_other
0                0                1               0
1                1                0               0
2                0                1               0
3                0                1               0
4                1                0               0

In [58]:
portuguese_ds = portuguese_ds.join(schoolDF).join(genderDF).join(addressDF).join(famsizeDF)\
  .join(pstatusDF).join(mjobDF).join(fjobDF).join(reasonDF).join(guardianDF)
# Remove no longer needed columns and reorder such that label is at the end
columnsInOrder = ['school_GP', 'school_MS', 'gender_F', 'gender_M', 'age', 
                  'address_R', 'address_U', 'famsize_GT3', 'famsize_LE3', 
                  'pstatus_A', 'pstatus_T', 'Medu', 'Fedu', 'mjob_at_home',
                  'mjob_health', 'mjob_other', 'mjob_services', 'mjob_teacher',
                  'fjob_at_home', 'fjob_health', 'fjob_other', 'fjob_services',
                  'fjob_teacher', 'reason_course', 'reason_home', 
                  'reason_other', 'reason_reputation', 'guardian_father', 
                  'guardian_mother', 'guardian_other', 'traveltime',
                  'studytime', 'failures', 'schoolsup', 'famsup', 'paid',
                  'activities', 'nursery', 'higher', 'internet', 'romantic', 
                  'famrel', 'freetime', 'goout', 'Dalc', 'Walc', 'health', 
                  'absences', 'G1', 'G2', 'G3']
portuguese_ds = portuguese_ds[columnsInOrder]
portuguese_ds.head()

,school_GP,school_MS,gender_F,gender_M,age,address_R,address_U,famsize_GT3,famsize_LE3,pstatus_A,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,1,0,1,0,18,0,1,1,0,1,...,4,3,4,1,1,3,4,0,11,11
1,1,0,1,0,17,0,1,1,0,0,...,5,3,3,1,1,3,2,9,11,11
2,1,0,1,0,15,0,1,0,1,0,...,4,3,2,2,3,3,6,12,13,12
3,1,0,1,0,15,0,1,1,0,0,...,3,2,2,1,1,5,0,14,14,14
4,1,0,1,0,16,0,1,1,0,0,...,4,3,2,1,2,5,0,11,13,13

In [59]:
math_ds.columns

Index(['school_GP', 'school_MS', 'gender_F', 'gender_M', 'age', 'address_R',
       'address_U', 'famsize_GT3', 'famsize_LE3', 'pstatus_A', 'pstatus_T',
       'Medu', 'Fedu', 'mjob_at_home', 'mjob_health', 'mjob_other',
       'mjob_services', 'mjob_teacher', 'fjob_at_home', 'fjob_health',
       'fjob_other', 'fjob_services', 'fjob_teacher', 'reason_course',
       'reason_home', 'reason_other', 'reason_reputation', 'guardian_father',
       'guardian_mother', 'guardian_other', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')

# Linear Regression

In [60]:
math_ds.columns

Index(['school_GP', 'school_MS', 'gender_F', 'gender_M', 'age', 'address_R',
       'address_U', 'famsize_GT3', 'famsize_LE3', 'pstatus_A', 'pstatus_T',
       'Medu', 'Fedu', 'mjob_at_home', 'mjob_health', 'mjob_other',
       'mjob_services', 'mjob_teacher', 'fjob_at_home', 'fjob_health',
       'fjob_other', 'fjob_services', 'fjob_teacher', 'reason_course',
       'reason_home', 'reason_other', 'reason_reputation', 'guardian_father',
       'guardian_mother', 'guardian_other', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')

## Math G1 Linear Regression

In [61]:
math_g1_testdata = math_ds[[*math_ds.columns[:-3], 'G1']]
math_g1_testdata.head()

,school_GP,school_MS,gender_F,gender_M,age,address_R,address_U,famsize_GT3,famsize_LE3,pstatus_A,...,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1
0,1,0,1,0,18,0,1,1,0,1,...,0,0,4,3,4,1,1,3,6,5
1,1,0,1,0,17,0,1,1,0,0,...,1,0,5,3,3,1,1,3,4,5
2,1,0,1,0,15,0,1,0,1,0,...,1,0,4,3,2,2,3,3,10,7
3,1,0,1,0,15,0,1,1,0,0,...,1,1,3,2,2,1,1,5,2,15
4,1,0,1,0,16,0,1,1,0,0,...,0,0,4,3,2,1,2,5,4,6

In [62]:
train, test = train_test_split(math_g1_testdata, test_size=0.2)

In [63]:
train.shape

(316, 49)

In [64]:
test.shape

(79, 49)

In [65]:
test.head()

,school_GP,school_MS,gender_F,gender_M,age,address_R,address_U,famsize_GT3,famsize_LE3,pstatus_A,...,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1
145,1,0,1,0,15,0,1,1,0,0,...,1,0,4,4,2,1,2,5,0,8
114,1,0,0,1,15,1,0,1,0,0,...,1,1,5,4,2,1,1,5,8,9
301,1,0,0,1,17,0,1,0,1,0,...,1,0,4,1,1,2,2,5,0,11
228,1,0,0,1,18,0,1,0,1,0,...,1,1,4,3,2,4,5,3,14,10
51,1,0,1,0,15,0,1,0,1,0,...,1,0,4,3,3,1,1,5,2,11

In [66]:
# Separate the labels from the data
trainData = train[train.columns[0:-1]]
trainData.shape

(316, 48)

In [67]:
trainLabel = train[train.columns[-1:]]
trainLabel.shape

(316, 1)

In [68]:
math_g1_classifier = LinearRegression()
math_g1_classifier.fit(trainData, trainLabel)

LinearRegression()

In [69]:
testData = test[test.columns[0:-1]]
testData.shape

(79, 48)

In [70]:
testLabel = test[test.columns[-1:]]
testLabel.shape

(79, 1)

In [71]:
predictions = math_g1_classifier.predict(testData)
predictions.shape

(79, 1)

In [72]:
m_g1_mse = metrics.mean_squared_error(testLabel, predictions)
m_g1_mae = metrics.mean_absolute_error(testLabel, predictions)
print("Mean Squared Error:", m_g1_mse)
print("Mean Absolute Error:", m_g1_mae)

Mean Squared Error: 8.030791964647184
Mean Absolute Error: 2.326017570985794

## Math G2 Linear Regression

In [73]:
math_g2_testdata = math_ds[[*math_ds.columns[:-3], 'G2']]
math_g2_testdata.head()

,school_GP,school_MS,gender_F,gender_M,age,address_R,address_U,famsize_GT3,famsize_LE3,pstatus_A,...,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G2
0,1,0,1,0,18,0,1,1,0,1,...,0,0,4,3,4,1,1,3,6,6
1,1,0,1,0,17,0,1,1,0,0,...,1,0,5,3,3,1,1,3,4,5
2,1,0,1,0,15,0,1,0,1,0,...,1,0,4,3,2,2,3,3,10,8
3,1,0,1,0,15,0,1,1,0,0,...,1,1,3,2,2,1,1,5,2,14
4,1,0,1,0,16,0,1,1,0,0,...,0,0,4,3,2,1,2,5,4,10

In [74]:
train, test = train_test_split(math_g2_testdata, test_size=0.2)

In [75]:
train.shape

(316, 49)

In [76]:
test.shape

(79, 49)

In [77]:
test.head()

,school_GP,school_MS,gender_F,gender_M,age,address_R,address_U,famsize_GT3,famsize_LE3,pstatus_A,...,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G2
389,0,1,1,0,18,0,1,1,0,0,...,0,0,1,1,1,1,1,5,0,5
319,1,0,1,0,18,0,1,1,0,0,...,1,0,4,4,4,3,3,5,2,11
85,1,0,1,0,15,0,1,1,0,0,...,1,1,4,4,4,2,3,5,6,9
256,1,0,1,0,17,0,1,0,1,0,...,1,0,4,2,3,1,1,4,6,12
283,1,0,1,0,18,0,1,1,0,0,...,1,0,5,4,4,1,1,4,4,9

In [78]:
# Separate the labels from the data
trainData = train[train.columns[0:-1]]
trainData.shape

(316, 48)

In [79]:
trainLabel = train[train.columns[-1:]]
trainLabel.shape

(316, 1)

In [80]:
math_g2_classifier = LinearRegression()
math_g2_classifier.fit(trainData, trainLabel)

LinearRegression()

In [81]:
testData = test[test.columns[0:-1]]
testData.shape

(79, 48)

In [82]:
testLabel = test[test.columns[-1:]]
testLabel.shape

(79, 1)

In [83]:
predictions = math_g2_classifier.predict(testData)
predictions.shape

(79, 1)

In [84]:
m_g2_mse = metrics.mean_squared_error(testLabel, predictions)
m_g2_mae = metrics.mean_absolute_error(testLabel, predictions)
print("Mean Squared Error:", m_g2_mse)
print("Mean Absolute Error:", m_g2_mae)

Mean Squared Error: 11.704454918477719
Mean Absolute Error: 2.47759462913694

## Math G3 Linear Regression

In [85]:
math_g3_testdata = math_ds[[*math_ds.columns[:-3], 'G3']]
math_g3_testdata.head()

,school_GP,school_MS,gender_F,gender_M,age,address_R,address_U,famsize_GT3,famsize_LE3,pstatus_A,...,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G3
0,1,0,1,0,18,0,1,1,0,1,...,0,0,4,3,4,1,1,3,6,6
1,1,0,1,0,17,0,1,1,0,0,...,1,0,5,3,3,1,1,3,4,6
2,1,0,1,0,15,0,1,0,1,0,...,1,0,4,3,2,2,3,3,10,10
3,1,0,1,0,15,0,1,1,0,0,...,1,1,3,2,2,1,1,5,2,15
4,1,0,1,0,16,0,1,1,0,0,...,0,0,4,3,2,1,2,5,4,10

In [86]:
train, test = train_test_split(math_g3_testdata, test_size=0.2)

In [87]:
train.shape

(316, 49)

In [88]:
test.shape

(79, 49)

In [89]:
test.head()

,school_GP,school_MS,gender_F,gender_M,age,address_R,address_U,famsize_GT3,famsize_LE3,pstatus_A,...,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G3
353,0,1,0,1,19,1,0,1,0,0,...,1,0,4,4,4,3,3,5,4,8
70,1,0,0,1,16,0,1,1,0,0,...,1,0,4,3,2,1,1,5,0,15
91,1,0,1,0,15,0,1,1,0,0,...,1,0,4,5,5,1,3,1,4,18
250,1,0,0,1,18,0,1,1,0,0,...,1,0,4,4,5,2,4,5,0,8
90,1,0,1,0,16,0,1,1,0,0,...,1,1,4,3,3,1,3,4,0,8

In [90]:
# Separate the labels from the data
trainData = train[train.columns[0:-1]]
trainData.shape

(316, 48)

In [91]:
trainLabel = train[train.columns[-1:]]
trainLabel.shape

(316, 1)

In [92]:
math_g3_classifier = LinearRegression()
math_g3_classifier.fit(trainData, trainLabel)

LinearRegression()

In [93]:
testData = test[test.columns[0:-1]]
testData.shape

(79, 48)

In [94]:
testLabel = test[test.columns[-1:]]
testLabel.shape

(79, 1)

In [95]:
predictions = math_g3_classifier.predict(testData)
predictions.shape

(79, 1)

In [96]:
m_g3_mse = metrics.mean_squared_error(testLabel, predictions)
m_g3_mae = metrics.mean_absolute_error(testLabel, predictions)
print("Mean Squared Error:", m_g3_mse)
print("Mean Absolute Error:", m_g3_mae)

Mean Squared Error: 22.9356483990556
Mean Absolute Error: 3.713580574521969

## Portuguese G1 Linear Regression

In [97]:
portuguese_g1_testdata = math_ds[[*portuguese_ds.columns[:-3], 'G1']]
portuguese_g1_testdata.head()

,school_GP,school_MS,gender_F,gender_M,age,address_R,address_U,famsize_GT3,famsize_LE3,pstatus_A,...,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1
0,1,0,1,0,18,0,1,1,0,1,...,0,0,4,3,4,1,1,3,6,5
1,1,0,1,0,17,0,1,1,0,0,...,1,0,5,3,3,1,1,3,4,5
2,1,0,1,0,15,0,1,0,1,0,...,1,0,4,3,2,2,3,3,10,7
3,1,0,1,0,15,0,1,1,0,0,...,1,1,3,2,2,1,1,5,2,15
4,1,0,1,0,16,0,1,1,0,0,...,0,0,4,3,2,1,2,5,4,6

In [98]:
train, test = train_test_split(portuguese_g1_testdata, test_size=0.2)

In [99]:
train.shape

(316, 49)

In [100]:
test.shape

(79, 49)

In [101]:
test.head()

,school_GP,school_MS,gender_F,gender_M,age,address_R,address_U,famsize_GT3,famsize_LE3,pstatus_A,...,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1
122,1,0,1,0,16,0,1,0,1,0,...,1,1,4,2,2,1,2,5,2,13
21,1,0,0,1,15,0,1,1,0,0,...,1,0,5,4,2,1,1,5,0,12
275,1,0,1,0,17,0,1,0,1,0,...,1,1,4,4,4,2,3,5,6,12
139,1,0,1,0,15,0,1,1,0,0,...,1,0,4,3,2,1,1,5,0,16
305,1,0,1,0,18,0,1,1,0,0,...,1,0,4,4,3,1,1,3,8,14

In [102]:
# Separate the labels from the data
trainData = train[train.columns[0:-1]]
trainData.shape

(316, 48)

In [103]:
trainLabel = train[train.columns[-1:]]
trainLabel.shape

(316, 1)

In [104]:
portuguese_g1_classifier = LinearRegression()
portuguese_g1_classifier.fit(trainData, trainLabel)

LinearRegression()

In [105]:
testData = test[test.columns[0:-1]]
testData.shape

(79, 48)

In [106]:
testLabel = test[test.columns[-1:]]
testLabel.shape

(79, 1)

In [107]:
predictions = portuguese_g1_classifier.predict(testData)
predictions.shape

(79, 1)

In [108]:
p_g1_mse = metrics.mean_squared_error(testLabel, predictions)
p_g1_mae = metrics.mean_absolute_error(testLabel, predictions)
print("Mean Squared Error:", p_g1_mse)
print("Mean Absolute Error:", p_g1_mae)

Mean Squared Error: 8.295640208486047
Mean Absolute Error: 2.46328877653522

## Portuguese G2 Linear Regression

In [109]:
portuguese_g2_testdata = math_ds[[*portuguese_ds.columns[:-3], 'G2']]
portuguese_g2_testdata.head()

,school_GP,school_MS,gender_F,gender_M,age,address_R,address_U,famsize_GT3,famsize_LE3,pstatus_A,...,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G2
0,1,0,1,0,18,0,1,1,0,1,...,0,0,4,3,4,1,1,3,6,6
1,1,0,1,0,17,0,1,1,0,0,...,1,0,5,3,3,1,1,3,4,5
2,1,0,1,0,15,0,1,0,1,0,...,1,0,4,3,2,2,3,3,10,8
3,1,0,1,0,15,0,1,1,0,0,...,1,1,3,2,2,1,1,5,2,14
4,1,0,1,0,16,0,1,1,0,0,...,0,0,4,3,2,1,2,5,4,10

In [110]:
train, test = train_test_split(portuguese_g2_testdata, test_size=0.2)

In [111]:
train.shape

(316, 49)

In [112]:
test.shape

(79, 49)

In [113]:
test.head()

,school_GP,school_MS,gender_F,gender_M,age,address_R,address_U,famsize_GT3,famsize_LE3,pstatus_A,...,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G2
119,1,0,0,1,15,0,1,1,0,0,...,1,0,3,4,3,1,2,4,6,13
303,1,0,1,0,17,0,1,1,0,0,...,1,0,5,2,2,1,2,5,0,17
244,1,0,1,0,18,0,1,1,0,0,...,1,1,4,4,4,1,1,3,0,0
128,1,0,0,1,18,1,0,1,0,0,...,1,0,3,3,3,1,2,4,0,4
315,1,0,1,0,19,1,0,1,0,0,...,1,1,4,1,2,1,1,3,40,11

In [114]:
# Separate the labels from the data
trainData = train[train.columns[0:-1]]
trainData.shape

(316, 48)

In [115]:
trainLabel = train[train.columns[-1:]]
trainLabel.shape

(316, 1)

In [116]:
portuguese_g2_classifier = LinearRegression()
portuguese_g2_classifier.fit(trainData, trainLabel)

LinearRegression()

In [117]:
testData = test[test.columns[0:-1]]
testData.shape

(79, 48)

In [118]:
testLabel = test[test.columns[-1:]]
testLabel.shape

(79, 1)

In [119]:
predictions = portuguese_g2_classifier.predict(testData)
predictions.shape

(79, 1)

In [120]:
p_g2_mse = metrics.mean_squared_error(testLabel, predictions)
p_g2_mae = metrics.mean_absolute_error(testLabel, predictions)
print("Mean Squared Error:", p_g2_mse)
print("Mean Absolute Error:", p_g2_mae)

Mean Squared Error: 15.222866328659496
Mean Absolute Error: 2.8061160521498634

## Portuguese G3 Linear Regression

In [121]:
portuguese_g3_testdata = math_ds[[*portuguese_ds.columns[:-3], 'G3']]
portuguese_g3_testdata.head()

,school_GP,school_MS,gender_F,gender_M,age,address_R,address_U,famsize_GT3,famsize_LE3,pstatus_A,...,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G3
0,1,0,1,0,18,0,1,1,0,1,...,0,0,4,3,4,1,1,3,6,6
1,1,0,1,0,17,0,1,1,0,0,...,1,0,5,3,3,1,1,3,4,6
2,1,0,1,0,15,0,1,0,1,0,...,1,0,4,3,2,2,3,3,10,10
3,1,0,1,0,15,0,1,1,0,0,...,1,1,3,2,2,1,1,5,2,15
4,1,0,1,0,16,0,1,1,0,0,...,0,0,4,3,2,1,2,5,4,10

In [122]:
train, test = train_test_split(portuguese_g3_testdata, test_size=0.2)

In [123]:
train.shape

(316, 49)

In [124]:
test.shape

(79, 49)

In [125]:
test.head()

,school_GP,school_MS,gender_F,gender_M,age,address_R,address_U,famsize_GT3,famsize_LE3,pstatus_A,...,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G3
193,1,0,0,1,16,1,0,1,0,0,...,1,0,4,3,2,3,4,5,8,10
342,1,0,0,1,18,0,1,0,1,0,...,1,1,4,3,3,1,3,5,11,15
287,1,0,1,0,17,0,1,1,0,0,...,1,0,4,3,3,1,1,3,6,12
231,1,0,0,1,17,1,0,1,0,0,...,1,0,4,5,2,1,1,1,4,11
38,1,0,1,0,15,1,0,1,0,0,...,1,0,4,3,2,1,1,5,2,11

In [126]:
# Separate the labels from the data
trainData = train[train.columns[0:-1]]
trainData.shape

(316, 48)

In [127]:
trainLabel = train[train.columns[-1:]]
trainLabel.shape

(316, 1)

In [128]:
portuguese_g3_classifier = LinearRegression()
portuguese_g3_classifier.fit(trainData, trainLabel)

LinearRegression()

In [129]:
testData = test[test.columns[0:-1]]
testData.shape

(79, 48)

In [130]:
testLabel = test[test.columns[-1:]]
testLabel.shape

(79, 1)

In [131]:
predictions = portuguese_g1_classifier.predict(testData)
predictions.shape

(79, 1)

In [132]:
p_g3_mse = metrics.mean_squared_error(testLabel, predictions)
p_g3_mae = metrics.mean_absolute_error(testLabel, predictions)
print("Mean Squared Error:", p_g3_mse)
print("Mean Absolute Error:", p_g3_mae)

Mean Squared Error: 23.36682319782235
Mean Absolute Error: 3.421772122658727